.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

  .date {
    font-size: 25px;
    color: #7d7d7d;
    font-weight: bold;
  }

  @media (min-width: 1025px) {
    &:before {
      top: 115px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: 10px;
    }
  }

  > li {
    position: relative;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-panel {
      width: 46%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

      @media (min-width: 1025px) {
        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;
          border-top: 15px solid transparent;
          border-left: 15px solid #ccc;
          border-right: 0 solid #ccc;
          border-bottom: 15px solid transparent;
          content: " ";
        }
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-left: 14px solid #fff;
          border-right: 0 solid #fff;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }

      @media (max-width: 1025px) {
        width: 100%;
        margin-bottom: 1rem;
      }

    }

    .next-job {
      background-color: #b3dcff;
      color: #16477d;
      border-color: #16477d;

      &:before {
        border-left: 15px solid #16477d;
      }
    }

    @media (min-width: 1025px) {
      .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -13px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

        .primary {
          background-color: #2e6da4 !important;
        }
        .success {
          background-color: #3f903f !important;
        }
        .danger {
          background-color: #d9534f !important;
        }
        .info {
          background-color: #5bc0de !important;
        }
        .warning {
          background-color: #f0ad4e !important;
        }
      }
    }

  }

  li.timeline-inverted > .timeline-panel {
    margin-left: 470px;
    width: 150px;
    margin-top: -50px;

    &:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }

    &:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }

  .buttons-container {

    font-weight: bold;
    color: #000;

    @media (min-width: 1025px) {
      width: 230px;
      margin-left: 11rem;
      float: left;
    }

    .email {
      background-color: #2ab27b;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .job-completed {
      background-color: #2ab27b;
      border-radius: 5px;
    }
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body {
  > p, ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

.visible {
  display: inherit;
}

.in-time {
  background-color: #b3dcff;
}

.glyphicon-check {
  top: 1.2rem;
  @media (max-width: 1025px) {
    display: none;
  }
}