#map {
  width: 100%;
  height: 60%;
}

.full-width {
  width: 100%;
}

.notifyjs-job-assigned {
  background-color: #2a88bd;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  @media (max-width: 1025px) {
    position: relative;
    transform: none;
    margin-left: -6rem;
  }
}

.menu {
  height: 7rem;
  @media (max-width: 1025px) {
    height: auto;
  }
}

.form-input {
  border-radius: 0.5rem;
  border: 0.1rem solid
}

.profile-div {
  padding: 1rem;
  @media (max-width: 1025px) {
    text-align: center;
  }
}

@media (max-width: 1025px) {
  .account-buttons {
    display: grid;
  }
  .btn {
    width: 100%;
    margin-top: 1rem;
  }
  #cancel {
    margin-left: 0;
  }
  #completed {
    margin-left: 0;
  }
}

.accountContent > .container > .filter {
  margin-bottom: 1.5rem;

  @media (max-width: 1025px) {
    text-align: center;
  }
}

.rate-input {
  width: 70%;
  border: 0rem;
  background-color: inherit;
  border-bottom: 0.1rem solid #888484;
  margin-bottom: 1rem;
}

.profile-header {
  float: left;

  @media (max-width: 1025px) {
   margin-left: 7rem;
  }
}