// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

html, body {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  body {
    font-size: 1.2rem;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    font-size: 1.2rem;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 1.2rem;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 1025px) {
  .navbar-menu {
    display: list-item;
    text-align: center;
  }
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

a a:focus {
  color: #000000;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #636b6f;
  border-color: #636b6f;
}

.btn-categories {
  color: #fff;
  background-color: #3097D1;
  border-color: #3097D1;
}

.btn-categories:focus {
  color: #fff;
  background-color: #3097D1;
  border-color: #3097D1;
}

.btn-margin {
  margin: 2rem
}


.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3097D1;
}

.navbar {
  position: relative;
  min-height: 65px;
  margin-bottom: 22px;
  border: 1px solid transparent;
}

.navbar-brand {
  padding: 14px 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  height: 50px;
}

.navbar-default {
  margin-bottom: 0px;
}

.navbar-default .navbar-text .navbar-brand {
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #ffd83d;
  background-color: #fff;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  font-weight: bold;
}

.panel-info {
  font-weight: bold;
}

.panel-info > .panel-heading {
  color: #000000;
  background-color: #ffd83d;
  border-color: #ffd83d;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ffd83d;
}

.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #ffd83d;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ffd83d;
}

.panel-header {
  background-color: #636b6f;
  height: 3rem;
}

.siteMessage {
  background-color: #f56e6e;
  font-weight: bold;
  color: #000;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  display: none;
  margin: 0 auto;
}

#mainContainer {
  margin-top: 2rem;

  @media (max-width: 1025px) {
    margin-top: 4rem;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.errorMessages {
  color: red;
  font-weight: bold;
}

.center {
  text-align: center;
}

.modal-header {
  background-color: #ffd83d;
  border-bottom: #636b6f solid;
}

.workerProfileTitle {
  font-weight: 600;
}