#content {
  width: 80%;
  float: right;
}

.hidden {
  display: none;
}

.unhidden {
  display: inline-block;
}

#menu {
  //width: 15%;
  //display: inline-block;
}

.editField {
  font-size: small;
  width: 100%;
}

.post-job-form {
  width: 400px;
  float: left;
  margin-top: 5rem;

  @media (max-width: 1025px) {
    margin-top: 0;
    text-align: center;
  }
}

#workersContainer {
  width: 700px;
  float: right;

  @media (max-width: 1025px) {
    width: auto;
  }
}

#loadingGif {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000;
  display: none;
}

#workersList {
  height: 50rem;
}

#workersPagination {
  clear: both;
}

.jobId {
  display: none;
}

.button-disabled {
  pointer-events: none;
}

.workerContainer {
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 1rem;

  @media (max-width: 1025px) {
    display: inline-grid;
    border: 0;
    border-bottom: 0.2rem solid #ddd;
  }

  img {
    margin-bottom: 1rem;

    @media (max-width: 1025px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.caption {
  padding: 0rem 0rem 0.5rem 4rem;
  color: #636b6f;

  @media (max-width: 1025px) {
    margin: 0 auto;
    padding: 0;
  }
}

.details-header {
  height: 4rem;

  .background {
    background-color: #636b6f;
    color: #FFFFFF;
    font-weight: bold;
  }
}

.bold {
  font-weight: bold;
}

.no-workers {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.select-worker {
  margin-top: 0.5rem;

  @media (max-width: 1025px) {
    margin: 0.5rem;
  }
}

.no-margin {
  margin: 0;
}

.profile-picture {
  height: 15rem;
}

.spinner {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #3498db;
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 3rem;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
