.brand-name {
  font-size: 6rem;
  width: 20rem;
  padding-top: 0.5rem;
  margin-left: 9rem;
  float: left;
  margin-top: -1rem;
  font-weight: 300;

  > a:hover, a:active {
    text-decoration: none;
  }

  @media (max-width: 1025px) {
    float: none;
  }
}

.header {
  height: 9rem;
  background-color: #ffd81b;
  border-bottom: #636b6f solid;
}

.header-menu {
  margin: 3rem 7rem;
  font-weight: bold;
  float: right;

  @media (max-width: 1025px) {
    width: 100%;
    margin: 0 auto;
  }
}

.nav > li.black-text {
  color: #636b6f;
  font-weight: bold;

  > a:hover, a:active {
    background-color: #ffd81b;
    text-decoration: none;

    @media (max-width: 1025px) {
      background-color: #FFFFFF;
    }
  }
}

.nav > li.black-text.dropdown > a:hover {
  background-color: #ffd81b;
  text-decoration: none;
}


@media (max-width: 1025px) {
  .header-menu .nav > li.black-text.dropdown > a:hover {
    background-color: #FFFFFF;
  }

  > a:hover, a:active {
    background-color: #FFFFFF;
  }
}

.black-text {
  font-size: larger;
}

a:hover, a:active {
  background-color: #ffd81b;
  text-decoration: none;
}

@media (max-width: 1025px) {
  .navbar-nav {
    display: inline-flex;
  }
}
