.layout {
  overflow: hidden;
  height: 100%;
}

.body {
  min-height:100%;
  height:100%;
  position:relative;
}

.container {
  text-align: center;
  height: 100%;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.welcome-msg {
  font-size: 10rem;
  padding-top: 1rem;

  @media (max-width: 1025px) {
    font-size: 4rem;
    text-align: center;
  }
}

.book-job {
  text-align: center;
  > a {
    background-color: #636262;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
  }
}

.categories-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.carousel {
  background: #636262;
  margin-top: 2rem;

  > a {
    background-color: #636262;
  }

  .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    img {
      margin: 0 auto; /* Align slide image horizontally center */
    }
  }
}

.carousel-inner {
  height: 20rem;
  margin-top: 10rem;
}