@media (min-width: 1025px) {
  .form-input {
    width: 13rem;
  }
}

.form-input {
  border-radius: 0.5rem;
  border: 0.1rem solid
}

.container {
  margin-top: 5rem;
}

#margin-top, #completeSignUp {
  margin-top: 1rem;
}